{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"overrides": [
		{
			"files": ["*.yml", "*.json"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
